.main {
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffffff;
    padding: 30px;
    border-bottom: 1px solid #0a0a0a;
}

.route {
    color: #0a0a0a;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s ease;
    font-weight: bold;
    cursor: pointer;
}

.route:hover {
    color: #357ABD;
}

.route.active {
    color: #357ABD;
}

@media (prefers-color-scheme: dark) {
    .main {
        background-color: #0a0a0a;
        border-bottom: 1px solid #f0f0f0;
    }

    .route {
        color: #ffffff;
    }

    .route.active {
        color: #357ABD;
    }
}