.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff;
    gap: 40px;
}

.lazy {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.lazy.visible {
  opacity: 1;
  transform: translateY(0);
}

.title {
    color: #0a0a0a;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.color {
    color: #357ABD;
}

.statsDetails {
    width: 100%;
    position: absolute;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    padding-left: 50px;
    gap: 10px;
}

.statsTitle {
    color: #0a0a0a;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
}

.fadeContainer {
    position: relative;
    height: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;

}

.details{
    color: #0a0a0a;
    font-size: 1.2rem;
    font-weight: bold;
}

.fade {
    position: absolute;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.visible {
    opacity: 1;
}

.hidden {
    opacity: 0;
}

.alignment{
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 20px;
    flex-wrap: wrap;
}

.box{
    width: 30vw;
    height: 30vh;
    background-color: #0a0a0a;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}

.boxTitle{
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.boxText{
    color: #ffffff;
    font-size: 1.2rem;
    text-align: left;
    margin-top: 10px;
    word-break: normal;
    line-height: 1.5;
    text-indent: 30px;
}

@media (prefers-color-scheme: dark) {
    .main {
        background-color: #0a0a0a;
    }

    .title {
        color: #ffffff;
    }

    .statsTitle {
        color: #ffffff;
    }

    .statsDetails {
        color: #ffffff;
    }
    .details {
        color: #ffffff;
    }
    .box {
        background-color: #ffffff;
        box-shadow: 5px 4px 8px rgba(255, 255, 255, 0.5);
    }
    .boxTitle {
        color: #0a0a0a;
    }
    .boxText {
        color: #0a0a0a;
    }
}