.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffffff;
    gap: 40px;
}

.table-container {
    max-height: 500px;
    overflow-y: auto;
    display: block;
    border: 1px solid #ddd;
}

.title {
    font-size: 32px;
    font-weight: bold;
    color: #0a0a0a;
    margin-bottom: 20px;
    text-align: center;
}

.table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

.table th,
.table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #222;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 2;
}

.table tbody tr:nth-child(even) {
    background-color: #333;
}

.table tbody tr:nth-child(odd) {
    background-color: black;
}

.table tbody tr:hover {
    background-color: #444;
}

.input {
    background: none;
    border: none;
    color: #ffffff;
    padding: 8px;
    font-size: 18px;
    outline: none;
    text-align: left;
    font-weight: bold;
    border: 1px solid transparent;
}

.pointer {
    cursor: pointer !important;
}

.input::placeholder {
    color: #ffffff;
}

.input:focus {
    outline: none;
    border: 1px solid transparent;

}

.color {
    color: #0a0a0a;
}

.button {
    position: absolute;
    top: 100px;
    left: 100px;
    padding: 10px;
    background: none;
    border: none;
    color: #0a0a0a;
    font-size: 20px;
    font-weight: bolder;
    transition: color 0.3s ease;
}

.button:hover {
    cursor: pointer;
    color: #357ABD;
}

.modal {
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f4f4f4;
    padding: 20px;
    width: 70vw;
    height: 70vh;
}

.modalTitle {
    color: #0a0a0a;
    font-size: 2rem;
    font-weight: bold;
}

.modalInput {
    width: 20%;
    padding: 10px;
    border: none;
    border-bottom: 3px solid #0a0a0a;
    border-radius: 5px;
    background: none;
    color: #0a0a0a;
    font-size: 1rem;
    cursor: text;
    transition: width 0.3s ease;
}

.modalInput:hover {
    width: 25%;
}

.modalInput:focus {
    width: 25%;
    outline: none;
}

.modalSubmit,
.modalCancel {
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.modalSubmit {
    background-color: limegreen;
}

.modalSubmit:hover {
    background-color: darkgreen;
}

.modalCancel {
    background-color: red;
}

.modalCancel:hover {
    background-color: darkred;
}

.error {
    color: #ff0000;
    font-size: 1rem;
    margin-top: 10px;
    font-weight: bold;
}

@media (prefers-color-scheme: dark) {
    .main {
        background-color: #0a0a0a;
    }

    .table {
        background-color: white;
        color: black;
    }

    .title {
        color: #ffffff;
    }

    .table th {
        background-color: #f4f4f4;
    }

    .table tbody tr:nth-child(even) {
        background-color: #ddd;
    }

    .table tbody tr:nth-child(odd) {
        background-color: white;
    }

    .table tbody tr:hover {
        background-color: #bbb;
    }

    .input {
        color: #0a0a0a;
    }

    .input::placeholder {
        color: #0a0a0a;
    }

    .button {
        color: #ffffff;
    }
    .modal {
        background-color: #222;
    }
    .modalTitle {
        color: #ffffff;
    }
    .modalInput {
        color: #ffffff;
        border-bottom: 3px solid #ffffff;
        background-color: #222;
    }
    .modalInput::placeholder{
        color: #ffffff;
    }
}